/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Elsie+Swash+Caps:wght@400;900&display=swap');
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

header {
  clear:both;
  display:flex;
}

header img{
  height:96px;
  width:96px;
  float:left;
  display:flex;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  
}
maintxt {
  float:left;
  display:flex;
	

}
h1 {
  font-family: 'Elsie Swash Caps', cursive;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius:4px;
  width:800px;
  border: 1px black solid;
  font-weight:500;
  font-family: 'Anonymous Pro', monospace;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  width:800px;
  font-family: 'Anonymous Pro', monospace;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color:#E5E5E5;
}
.dropdown:hover .dropbtn {
  background-color: #E4CBED;
}
#second {
  color:#00AFA9;
  
}
container{
  justify-content:center;
  display:flex;
  float:left;
  align-content:center;
  float:left;
  flex-direction: row;
  width:700ps;

